<div class="page-header">
  <h1>Consents</h1>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Consents</h3>
      </div>

      <div class="panel-body consents">

        {{#if eventError}}
          <div class="alert alert-danger">{{eventError}}</div>
        {{/if}}

        <ul class="list-group">
          {{#each consents as |consent|}}
          <li class="list-group-item">
            <table class="table table-striped">
              <tr>
                <td>
                  <dl class="dl-horizontal">
                    <dt>ID</dt>
                    <dd>{{consent.id}}</dd>
                    <dt>Customer</dt>
                    <dd>{{consent.customer}} </dd>                    
                    <dt>From</dt>
                    <dd>{{consent.requester}} </dd>
                    <dt>State</dt>
                    <dd>{{consent.getState}}</dd>
                  </dl>
                </td>
                {{#if (eq consent.getState 'REQUESTED')}}
                  <span class="pull-right">
                    <button type="button" class="btn btn-sm btn-success" {{action 'accept' consent}}>Accept</button>
                    <button type="button" class="btn btn-sm btn-warning" {{action 'reject' consent}}>Reject</button>
                  </span>
                {{/if}}
                <td>
                </td>
              </tr>
            </table>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
