{{outlet}}

<div class="row">
  <div class="col-md-8">
    <h2>Transaction log</h2>
    <h3>There are {{totalCount}} transactions</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Hash</th>
          <th>Block</th>
          <th>Transaction address</th>
          <th>Transaction hash</th>
        </tr>
      </thead>
      <tbody>
        {{#each log as |item|}}
          <tr>
            <th scope="row">{{#link-to 'transaction' item.transactionHash}}{{item.transactionHash}}{{/link-to}}</th>
            <td>{{#link-to 'transaction' item.transactionHash}}{{item.blockNumber}}{{/link-to}}</td>
            <td>{{#link-to 'transaction' item.transactionHash}}{{item.address}}{{/link-to}}</td>
            <td>{{#link-to 'transaction' item.transactionHash}}{{item.transactionHash}}{{/link-to}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
