<div class="row">
  <div class="col-md-4">
    <ul>
      <li>hash: {{model.transaction.hash}}</li>
      <li>nonce: {{model.transaction.nonce}}</li>
      <li>blockHash: {{model.transaction.blockHash}}</li>
      <li>blockNumber: {{model.transaction.blockNumber}}</li>
      <li>transactionIndex: {{model.transaction.transactionIndex}}</li>
      <li>from: {{model.transaction.from}}</li>
      <li>to: {{model.transaction.to}}</li>
      <li>value: {{model.transaction.value}}</li>
      <li>gas: {{model.transaction.gas}}</li>
      <li>gasPrice: {{model.transaction.gasPrice}}</li>
      <li>input: {{model.transaction.input}}</li>
    </ul>    
    {{#link-to 'log'}}Back{{/link-to}}
  </div>
</div>
